/* Estilo general */
body {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: aliceblue;
}

h1 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #2c7597;
}

h1 {
    text-align: center; /* Centra el texto horizontalmente */
}

.logo {
    width: 400px;
    height: 100;
    padding-right: 20px;
}

/* Estilo para el menú principal */
.navbar {
    background-color: #0b314e;
}
.nav-link {
    font-size: 20px;
    color: #bd3513;
}

.navbar {
    height: 140px;
}
.navbar-nav .nav-link {
    color: #0e2174;
    font-size: 14px;
}

/* Centrar la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* Distribuir los elementos de menú equidistantemente */
.navbar-nav {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/* Estilo para los elementos de menú */
.nav-item {
    margin-right: 10px; /* Espaciado entre elementos de menú */
}

/* Estilo para los dropdown */
.dropdown-menu {
    background-color: #a1d4ec;
}

.dropdown-item {
    color: #50579c;
    font-size: 12px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"] {
    background-color: #b0d7e9;
    color: #3b3b3b;
    font-size: 12px;
    max-width: 250px;

}
.form-group label {
    color: #2c7597;

}

.rowform {
    background-color: #ffffff;
    align-items: center;
    width: 70vw;

}

 /* estilo contenedor fomrularios */
.form-container {
    text-align: center;
    display: flex; /* Utiliza flexbox para centrar verticalmente */
    justify-content: space-around; /* Centra horizontalmente */
    align-items: left; /* Centra verticalmente */

}

.form-container1 {

    text-align: center;
    width: 500px;

    background-size: cover;
    background-position:content center ;
    height: 300px;

    z-index: -2;
    margin: auto;
}




/* Estilo para los campos del formulario */
#formulario-modificar-odontologo .form-group {
    flex: 1;
    margin-right: 10px;
    width: 100%;
    max-width: none;
}



#registroOdontologoForm .form-control {
    flex: 1;
    margin:auto;
    width: 100%;
    max-width: none; /* Elimina la limitación de ancho máximo */
}

#registroPacienteForm  {
    flex: 1; /* Aquí está el cuerpo del formulario registrar paciente */
    margin-left:200px;
    width: 25vh;
    max-width: none; /* Elimina la limitación de ancho máximo */
    background-color: #ffffff;
    margin-top: -20px;
}


/* Estilo para el botón del formulario */
#formulario-modificar-odontologo .custom-btn {
    width: 100%;
    margin-top: 10px;
}


.form-group1 {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
    max-width: 250px; /* Ancho máximo del formulario */
    border: 5px;
}

.form-group2 {
    flex: 0 0 calc(33.33% - 10px); /* Ancho del 33.33% para tres campos por fila */
    margin-right: 10px; /* Espaciado entre los campos */
}

.row2 {
    background-color: #ffffff;
    display: flex;
    justify-content: center;

}



.form-group1 label {
    color: #2c7597;
}


.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"] {
    width: 100%; /* Para que todos los campos tengan el mismo ancho */
    text-align: left; /* Para alinear el texto a la izquierda */


}

.form-group2{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    margin-bottom: 10px;
    max-width: 45vw; /* Ancho máximo del formulario */


}

.form-group2 label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    color: #2c7597;
    font-size: 13px;
}


.form-group2 input[type="text"],
.form-group2 input[type="number"],
.form-group2 input[type="date"] {

    flex:2;
    background-color: #b0d7e9;
    color: #818181;
    font-size: 13px;
    width: 100%;
    border: none;
    height: 35px;
    border-radius: 5px;
}




/* Estilo para los botones */
.btn {
    background-color: #0d7fdd;
    color: white;
}

/* Estilo para los estados de los botones */
.btn:hover {
    background-color: #15697e;
    color: white;
}

.btn:active {
    background-color: #B79BEB;
    color: white;
}

.custom-btn {

    margin-top: 30px;
}
.btn01 {
    background-color: #596fd3;
    color: #fffcfc;
    border-color: #8e94ca;

}

.btn1  {
    background-color: #0d7fdd;
    width: 160px;
    font-size: 18px;
    height: 45px;
    margin-left:20%;
    margin-right: 50%;
    border-radius: 5px;
    align-items:flex-end;
}

#odontologoResultado{
 display: block;
 max-width: 400px;
 background-color:#7ad7ff;
 border-radius: 10px;
 font-family: Verdana, sans-serif;
 font-size: 12px;
 color: #020f85;
 padding:30px;
}

#pacienteResultado{
 display: block;
 max-width: 400px;
 max-height: 300px;
 background-color:#8bbdd4;
 border-radius: 10px;
 font-family: Verdana, sans-serif;
 font-size: 12px;
 color: #040b2c;
 padding:30px;
}

#odontologoRegistrado{
 display: block;
 max-width: 300px;
 background-color:#8bbdd4;
 border-radius: 10px;
 font-family: Verdana, sans-serif;
 font-size: 12px;
 color: #040b2c;
 padding:30px;
 margin:0 auto;
 text-align: center;
}

#odontologoModificado{
    display: block;
    max-width: 300px;
    background-color:#8bbd
    border-radius: 10px;
    font-family: Verdana, s
    font-size: 12px;
    color: #040b2c;
    padding:30px;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 280px;
    text-align: center;
   }


#pacienteRegistrado{
display: block;
max-width: 300px;
background-color:#8bbdd4;
border-radius: 10px;
font-family: Verdana, sans-serif;
font-size: 12px;
color: #040b2c;
padding:50px;
margin-right: 70px;
text-align: center;
}


#response{
    display: block;
     max-width: 800px;
     background-color:#cde8f5;
     border-radius: 10px;
     font-family: Verdana, sans-serif;
     font-size: 12px;
     color: #040b2c;
     padding:30px;
   }

#div_odontologo_updating {
       display: block;
        max-width: 800px;
        background-color:#79e414;
        border-radius: 10px;
        font-family: Verdana, sans-serif;
        font-size: 12px;
        color: #040b2c;
        padding:30px;
   }
   .fondo-imagen {
    background-image: url('/assets/imagen_fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 470px;
}

.fondo-imagen2 {
    background-image: url('/assets/imagen_fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    opacity: 0.1;
    z-index: -1;
 }